body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.my-class a {
  background: #FC0 !important;
}

#div_id_availability {
  display: none;
}

/* Schedule edit page (ref: https://codepen.io/bobmarksie/pen/VadxoK) */
table * {
  text-align: center;
}

.table-area {
  position: relative;
  z-index: 0;
}

table.responsive-table {
  display: table;
  /* required for table-layout to be used (not normally necessary; included for completeness) */
  table-layout: fixed;
  /* this keeps your columns width fixed with exactly the right width */
  width: 100%;
  /* table must have width set for fixed layout to work as expected */
  height: 100%;
  overflow-x: inherit;
}

table.responsive-table thead {
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  width: 100%;
  table-layout: fixed;
  display: table;
  background: #eee;
}

/*Ensures top row is visible even on smaller screens*/
@media only screen and (max-width: 1800px) {
  #table-container {
    margin-top: 190px !important;
  }
}

.row-titles {
  vertical-align: middle !important;
  text-align: center;
}

.border-right {
  border-right: 1px solid #8f9495 !important;
}

#table-container {
  margin-top: 160px;
  border-right: 1px solid #ddd;
}

.table-bordered {
  border: 0px;
}

.table-select {
  height:100%;
  width:100%;
}

td input, select {
  width:100%;
}

td input {
  margin-bottom: 5px;
}

textarea {
  resize: both;
}

td a {
  color: #5F788A;
}

td a:hover {
  font-weight: 500;
  color: #17a2b8;
  text-decoration: none;
}
