@page {
    size: landscape;
}

body {
    margin-top: 32px;
    padding: 0px;
}

.alert {
    display: none;
}

.table-bordered td, .table-bordered th {
    /* Might need to darken the table borders for printing */
    border: 1px solid black;
}

table.responsive-table thead {
    font-size: 10px;
    top: 0px;
}

.table-responsive {
    overflow: hidden;
}

#table-container {
    margin-top: 0px;
    border-right: 1px solid #ddd;
}

#table-container * {
    padding: 0px;
}

.row-titles {
    font-size: 9px;
}

tbody * {
    font-size: 7px;
}

.btn {
    display: none;
}

td a {
    text-decoration: none !important;
    color: black;
}