<!--this template is shared for both creating and updating preachers-->
{% extends 'schedule_calendar/base.html' %}
{% block content %}
    <div class = "content-section">
        <form method = "POST" action="">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Delete Church</legend>
                <h2>Deleting {{ object.name }} will delete all past and future Events at this location. Are you sure?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">
                    Confirm Deletion
                </button>
                <a class="btn btn-outline-secondary" href="{% url 'church_list' %}">
                    Cancel
                </a>
            </div>
        </form>
    </div>
{% endblock content %}