<!--This is how to specify a child template. The 'block content' in base.html will be overwritten with this-->
{% extends 'schedule_calendar/base.html' %}
{% block content %}
    <!--This is the syntax for accessing data which has been passed into a template-->
    {% for event in events %}
        <article class="media content-section">
          <div class="media-body">
              <h3>{{ event.title }}</h3>
              <p>Schedule: {{ event.schedule }}</p>
              <p>Date: {{ event.date }}</p>
              <p>Church: {{ event.church }}</p>
              <p>Preacher: {{ event.preacher }}</p>
              <p>Service Type: {{ event.service_type }}</p>
              <a class="btn btn-outline-info" href="{% url 'event_update' event.id %}">Edit</a>
              <a class="btn btn-outline-danger" href="{% url 'event_delete' event.id %}">Delete</a>
          </div>
        </article>
    {% endfor %}
    <a class="btn btn-info mb-4" href="{% url 'event_form' %}">Create New Event</a>
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock content %}