<!--this template is shared for both creating and updating events-->
{% extends 'schedule_calendar/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class = "content-section">
        <form method = "POST" action="">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Event Details</legend>
                {{ form|crispy }} <!--crispy forms is a bootstrap plugin that does a lot of the styling for you-->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-info" type="submit">
                    Save
                </button>
                <button class="btn btn-outline-secondary" type="reset" onclick="javascript:history.back();">
                    Cancel
                </button>
            </div>
        </form>
    </div>
{% endblock content %}