<!--this template is shared for both creating and updating preachers-->
{% extends 'schedule_calendar/base.html' %}
{% block content %}
    <div class = "content-section">
        <form method = "POST" action="">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Delete Preacher</legend>
                <h2>Are you sure you want to delete {{ object.first_name }} {{ object.last_name }}?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">
                    Confirm Deletion
                </button>
                <a class="btn btn-outline-secondary" href="{% url 'preacher_list' %}">
                    Cancel
                </a>
            </div>
        </form>
    </div>
{% endblock content %}