<!--this template is shared for both creating and updating preachers-->
{% extends 'schedule_calendar/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <script>
    // This function initiates the datepicker on the preacher page
        $(document).ready(function(){
            console.log( '{{ preacher.availability.count }}' )
            $( function() {
                $( "#datepicker" ).multiDatesPicker({
                    format: 'mm/dd/yyyy',
                    numberOfMonths: 3,
                    altField: '#selectedDates',
                    beforeShowDay: function(date){
                        var day = date.getDay();
                        return [ day == 0 ]
                    },
                    {% if not preacher.availability %}
                        //if creating a new preacher, there are no dates
                    {% else %}
                        addDates: {{ preacher.getDates|safe }},
                    {% endif %}

                })
            } );
        });


    </script>
    <div class = "content-section">
        <form method = "POST" action="">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Preacher Details</legend>
                {{ form|crispy }} <!--crispy forms is a bootstrap plugin that does a lot of the styling for you-->
            </fieldset>

            <label>Availability</label>
            <div id="datepicker"></div>
            <input type="hidden" id="selectedDates" name="availability">

            <div class="form-group">
                <button class="btn btn-info" type="submit">
                    Save
                </button>
                <button class="btn btn-outline-secondary" type="reset" onclick="javascript:history.back();">
                    Cancel
                </button>
            </div>
        </form>
    </div>
{% endblock content %}