{% extends 'schedule_calendar/schedule_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <!--This is the big front-end table for the schedule form. This is where a user will spend most of their time-->
    <div class="table-responsive">
        <div class="table-area">
            <form action="" method="POST">
                {{ formset.management_form }}
                {% csrf_token %}
                <table class="responsive-table table table-bordered" id="table-1">
                    <thead>
                    <tr>
                        <th colspan="3">{{ schedule }}
                            <input type="submit" class="btn btn-info btn-sm" name="save" value="Save" formmethod="POST">
                            <input type="submit" class="btn btn-info btn-sm" name="auto_schedule" value="Schedule">
                            <input type="button" class="btn btn-info btn-sm" name="print" value="Print" onclick="window.print();return false;">
                            <input type="button" class="btn btn-info btn-sm" name="export" value="Export" id="export" onclick="table2excel();">
                        </th>
                        {% for month, length in schedule.months.items %}
                            <th colspan="{{ length }}">{{ month }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="col">Church</th>
                        <th scope="col">Number</th>
                        <th scope="col">Time</th>
                        {% for date in schedule.dates %}
                            <th>{{ date }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for church in churches %}
                        <tr>
                            <td rowspan="2" class="row-titles">{{ church }}</td>
                            <td rowspan="2" class="row-titles" style="margin-right: -1px;">{{ church.number }}</td>
                            <td class="row-titles border-right">
                                {% if church.morning_service_time != None %}
                                    {{ church.morning_service_time }}
                                {% endif %}
                            </td>
                            {% for event in events %}
                                {% if event.church == church and event.service_type == 'Morning' %}
                                    <td class="align-middle">
                                        <a href="javascript:void(0)" class="edit" id="{{ event.id }}">
                                            <div class="table-select">
                                                {% if event.title != "" %}
                                                    {{ event.title }}
                                                    <br>
                                                {% endif %}
                                                {% if event.title != "No Service" %}
                                                    {{ event.preacher }}
                                                {% endif %}
                                            </div>
                                        </a>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                        <td class="row-titles border-right">
                            {% if church.afternoon_service_time != None %}
                                {{ church.afternoon_service_time }}
                            {% endif %}
                        </td>
                        {% for event in events %}
                            {% if event.church == church and event.service_type == 'Afternoon' %}
                                <td class="align-middle">
                                    <a href="javascript:void(0)" class="edit" id="{{ event.id }}">
                                        {% if event.title != "" %}
                                            {{ event.title }}
                                            <br>
                                        {% endif %}
                                        {% if event.title != "No Service" %}
                                            {{ event.preacher }}
                                        {% endif %}
                                    </a>
                                </td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(e) {
            $( "#export" ).click(function() {
                $("#table-1").table2excel({
                    exclude: ".noExport",
                    name: "{{ schedule }}",
                    filename: "{{ schedule }}",
                    fileext: ".xls",
                    exclude_links: true,
                    exclude_inputs: true,
                });
            });

            var form_count = {{formset.total_form_count}};

            $('.edit').dblclick(function() {
                var link = this
                var event_id = $(this).attr("id")
                $.ajax({
                    url : "{% url 'get_form' %}", // the endpoint
                    type : "GET", // http method
                    data : { event_id : event_id }, // data sent with the post request

                    // Handle a successful response. TODO: If I have time, move the form logic to the view endpoint
                    success : function(form) {
                        form_count++
                        var id_num = form_count-1
                        $( link ).replaceWith(form);
                        $('#id_form-TOTAL_FORMS').val(form_count);
                        $('#id_form-INITIAL_FORMS').val(form_count);
                        $('#id_title').attr('name', 'form-' + id_num + '-title');
                        $('#id_title').attr('id', 'id_form-' + id_num + '-title');
                        $('#id_preacher').attr('name', 'form-' + id_num + '-preacher');
                        $('#id_preacher').attr('id', 'id_form-' + id_num + '-preacher');
                        $('#id_id').attr('name', 'form-' + id_num + '-id');
                        $('#id_id').attr('id', 'id_form-' + id_num + '-id');
                    },

                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        $('#results').html("<div class='alert-box alert radius' data-alert>AJAX has encountered an error: "+errmsg+
                            " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            });
        });
    </script>
{% endblock content %}