{% extends 'schedule_calendar/base.html' %}
{% block content %}
    <div class="alet alert-info">
        Your password has been set.
    </div>
    <a href="{% url 'login' %}">Sign in</a>
{% endblock content %}
